
body{
    background-color: black;
}

button{
    background-color: rgb(50,50,50);
    border: none;
    width: 60px;
    height: 60px;
    font-size: 25px;
    color: white;
    border-radius: 30px;
    margin-right: 5px;
}

.clear-button{
    font-size: 16px;
}

.operation{
    background-color: rgb(254, 149, 43);
}

.result{
    color: white;
    font-size: 50px;
    margin-bottom: -10px;
}